.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 33.3%;
    padding: 10px;
    height: 300px;
} 

.item:nth-child(1) {
    background-color: #f1c40f;
}

.item:nth-child(2) {
    background-color: #e67e22;
}

.item:nth-child(3) {
    background-color: #16a085;
}

* {
    box-sizing: border-box;
}